<div class="container-contact100">
	<form class="contact100-form validate-form">
		<span class="contact100-form-title">
			<img src="img/ladoss.png" alt="">
		</span>
	</form>
		<form class="contact100-form validate-form" name="comercianteForm">
			<span class="contact100-form-title">
				<img src="img/ladoss.png" alt="">
			</span>
			<div>
				<button class="contact100-form-btn btn-block" ng-click="listar()">
          <span>
            Listar
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>

				<!-- Tabela de Empresas -->
				<div>
				  <table class="table table-hover">
				    <thead class="thead-light">
				      <tr>
				        <th scope="col">Código</th>
				        <th scope="col">Nome da Empresa</th>
				        <th scope="col">Logradouro</th>
				        <th scope="col">Número</th>
				        <th scope="col">Complemento</th>
				        <th scope="col">Cidade</th>
				        <th scope="col">Estado</th>
								<th scope="col">CEP</th>
								<th scope="col">Ponto de Referência</th>
								<th scope="col">E-mail</th>
								<th scope="col">Telefone</th>
								<th scope="col">Instagram</th>
								<th scope="col">Facebook</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="empresa in empresas">
				        <td scope="row">{{empresa.id}}</td>
				        <td scope="row">{{empresa.nome}}</td>
				        <td scope="row">{{empresa.logradouro}}</td>
				        <td scope="row">{{empresa.numero}}</td>
				        <td scope="row">{{empresa.complemento}}</td>
				        <td scope="row">{{empresa.cidade}}</td>
				        <td scope="row">{{empresa.estado}}</td>
								<td scope="row">{{empresa.cep}}</td>
								<td scope="row">{{empresa.ponto_referencia}}</td>
								<td scope="row">{{empresa.email}}</td>
								<td scope="row">{{empresa.telefone}}</td>
								<td scope="row">{{empresa.instagram}}</td>
								<td scope="row">{{empresa.facebook}}</td>
				      </tr>
				    </tbody>
				  </table>
				</div>
			</div>

		</form>
	</div>
</div>
